@model Cafeteria.Models.Order

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Chi tiết hóa đơn</h1>

<div>
    <table class="w3-table w3-bordered">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.GuestName)
            </td>
            <td>
                @Html.DisplayFor(model => model.GuestName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.GuestPhone)
            </td>
            <td>
                @Html.DisplayFor(model => model.GuestPhone)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.GuestAddress)
            </td>
            <td>
                @Html.DisplayFor(model => model.GuestAddress)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(model => model.CreatedAt)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Note)
            </td>
            <td>
                @Html.DisplayFor(model => model.Note)
            </td>
        </tr>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrderId">Sửa</a> |
    <a asp-action="Index">Quay lại danh sách</a>
</div>
