@model IEnumerable<Cafeteria.Models.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Quản lý hóa đơn</h1>

<table class="w3-table w3-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GuestName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuestPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuestAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GuestName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuestPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuestAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderId">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.OrderId">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderId">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
