@model Cafeteria.Models.Supplier

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Xóa nhà cung cấp</h1>

<h3>Bạn chắc chắn muốn xóa nhà cung cấp này?</h3>
<div>
    <table class="w3-table w3-bordered">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(model => model.SupplierName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.SupplierEmail)
            </td>
            <td>
                @Html.DisplayFor(model => model.SupplierEmail)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.SupplierPhone)
            </td>
            <td>
                @Html.DisplayFor(model => model.SupplierPhone)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.SupplierAddress)
            </td>
            <td>
                @Html.DisplayFor(model => model.SupplierAddress)
            </td>
        </tr>
    </table>
    <form asp-action="Delete">
        <input type="hidden" asp-for="SupplierId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại danh sách</a>
    </form>
</div>
