@model Cafeteria.Models.Drink

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>
    Xóa đồ uống
</h1>
<h3>
    Bạn chắc chắn muốn xóa đồ uống này?
</h3>
<div class="w3-container">
    <table class="w3-table w3-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DrinkName)
            </th>
            <th>
                @Html.DisplayFor(model => model.DrinkName)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Price)
            </td>
            <td>
                @Html.DisplayFor(model => model.Price)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.CalculationUnit)
            </td>
            <td>
                @Html.DisplayFor(model => model.CalculationUnit)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Image)
            </td>
            <td>
                <img src="@Html.DisplayFor(model => model.Image)" width="200" height="200" />
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Description)
            </td>
            <td>
                @Html.DisplayFor(model => model.Description)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(model => model.CreatedAt)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.IsActive)
            </td>
            <td>
                @Html.DisplayFor(model => model.IsActive)
            </td>
        </tr>
    </table>
    <form asp-action="Delete">
        <input type="hidden" asp-for="DrinkId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại danh sách</a>
    </form>
</div>